<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EnpointService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/1907" binding="basicHttpBinding"
                bindingConfiguration="EnpointService" contract="ServiceReference1.IMatematika"
                name="EnpointService" />
        </client>
    </system.serviceModel>
</configuration>